@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

.favorites {

    &__title {
        font-family: "inter";
        font-size: 22px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        color: $choco;

        &-wrapper {
            padding-block: 20px;
        }
    }

    &__list {
        position: relative;
        list-style: none;
        display: grid;
        gap: 16px;
        border-top: 1px solid $choco;
        padding-block: 36px;
        margin-bottom: 50px;

        @include on-Tablet {
            margin-bottom: 80px;
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include on-Desktop {
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            max-width: $max-content-width;
            margin-bottom: 100px;
        
        }
    }

    &__card {
        position: relative;
        color: $choco;
        width: 100%;
        grid-column: 1 / -1;

        @include on-Tablet {
            grid-column: auto;
        }
    }
    
    &__photo-link {
        display: block;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__title-price {
        font-family: "lev_type";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        letter-spacing: 1px;

        @include on-Desktop {
            font-size: 22px;
        }
    }
}

.heart {
    &__icon-bg {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #f0f8ff;
        opacity: 0.7;
        z-index: 10;
        top: 10px;
        right: 10px;

        &--active {
          background-color: #b3b7b8;
        }
    }

    &__icon {
        height: 25px;
        width: 25px;
    }
}
