@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

.favorites {
    @include pageMinHeight;
    &__empty {
        font-family: "lev_type";
        letter-spacing: 3px;
        text-align: center;
    }

    &__title {
        font-family: "inter";
        font-size: 22px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        color: $choco;

        &-wrapper {
            padding-block: 20px;
        }
    }

    &__list {
        position: relative;
        list-style: none;
        display: grid;
        gap: 16px;
        border-top: 1px solid $choco;
        border-bottom: 1px solid $choco;
        padding-block: 36px;
        margin-bottom: 50px;

        @include on-Tablet {
            margin-bottom: 80px;
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include on-Desktop {
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            max-width: $max-content-width;
            margin-bottom: 100px;
        }
    }

    &__cover {
        border-top: 1px solid $choco;
        border-bottom: 1px solid $choco;
        position: relative;
        padding-block: 20px;
    }

    &__card {
        position: relative;
        color: $choco;
        width: 100%;
        grid-column: 1 / -1;

        @include on-Tablet {
            grid-column: auto;
        }
    }
    
    &__photo-link {
        display: block;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__title-price {
        font-family: "lev_type";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        letter-spacing: 1px;

        @include on-Desktop {
            font-size: 22px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
        
        @include on-Tablet {
            // height: 300px;
            gap: 10px;
        }
    }

    &__button {
        text-decoration: none;
        line-height: 56px;
        margin-top: 33px;
        width: 100%;

        @include on-Tablet {
            width: 50%;
            align-self: center;
        }

        @include on-Desktop {
            width: 30%;
        }

        &--start-purchases {
            background-color: $choco;
            color: $white;
            transition: transform 0.5s ease, color 0.5s ease;

            &:hover {
              transform: scale(1.1);
              color: $bg-color;
            }
        }
    }
}
