@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables';

.cart {
    &-container {
        margin: 0 auto;
        min-height: calc(100vh - #{$headers-height} - #{$footers-height});
    }

    &__title {
        font-family: "inter";
        font-size: 22px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        color: $choco;

        &-wrapper {

            padding-block: 36px;
        }
    }
    


    &__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }

    &__order {
        width: 100%;
    }

    &__summary {
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
    }

    &__list {
        position: relative;
        border-top: 1px solid $choco;
        border-bottom: 1px solid $choco;
        padding-block: 36px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 38px;

    }
    
    &__item {
        display: flex;
        gap: 16px;
        margin-bottom: 50px;
        align-items: center;

        @include on-Tablet {
            gap: 26px;
            margin-bottom: 30px;
        }
    }

}

.item {
    position: relative;
    font-size: 13px;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 140px;

        &--left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            font-family: "inter";
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            width: 121px;

            @include on-Desktop {
                font-size: 22px;
                line-height: 42px;
                width: auto;
            }
        }

        &--right {
            height: 48px;
            padding-top: 24px;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        display: block;
        max-height: 100%;

        &-wrap {
            width: 124px;
            height: 161px;

            @include on-Desktop {
                width: 210px;
                height: 267px;        
            }
        }
    }

    &__price {
        font-family: "inter";
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;

        @include on-Desktop {
          font-size: 22px;
        }
    }

    &__remove {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__quantity {
        &-setters {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    
        &-setter {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #000;
            width: 25px;
            height: 25px;
        }
    }
}

.summary {
    text-align: center;

    margin-bottom: 30px;


    &__wrapper {
        border: 1px solid $choco;
        padding: 20px;
        @include on-Tablet {
            height:300px;
        }
        
    }

    &__title {
        padding-top: 5px;
        margin-bottom: 21px;
    }

    &__group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__button {
        margin-top: 33px;
        width: 100%;
    }
}
