@import '../../styles/utils/variables';

.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><line x1='10' y1='10' x2='90' y2='90' stroke='%23000' stroke-width='10'/><line x1='90' y1='10' x2='10' y2='90' stroke='%23000' stroke-width='10'/></svg>");
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: spin-loader 1s infinite linear;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
  }
}

@keyframes spin-loader {
  0% {
    transform: rotate(0deg); /* Rotates the whole loader */
  }
  100% {
    transform: rotate(360deg); /* Completes one full rotation */
  }
}