@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';
@import '../../styles/App';

.menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: $choco;

  @include on-Desktop {
    right: 0;
    height: $main-picture-height-desktop + $main-picture-padding-top;
    width: 35%;
  }

  &__part {
    display: flex;
    align-items: center;
    // height: $half-menu-height-mobile;
    margin-block: 20px 60px;
    margin-left: 0;
    padding-left: 34px;
    justify-content: start;

        
    @include on-Tablet {
      justify-content: start;
      margin-left: auto;
      padding-left: 28px;
      // height: $half-menu-height-tablet;
    }

    @include on-Desktop {
      justify-content: start;
      margin-top: 40px;
      padding-left: 38px;
      // height: $half-menu-height-desktop;
    }
  };

  &__list {
    box-sizing: content-box;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: 260px;
    padding-left: 0;
  }

  &__item {
    align-self: baseline;
    &::after {
      background-color: $bg-color;

      &:hover {
        background-color: white;
      }
    }
  }

  &__link {
    color: $bg-color;
    font-family: "inter", serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    &:hover {
      color: white;
    }

    @include on-Tablet {
      font-size: 25px;
    }
  }

  &__separator {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: $bg-color;
  }
}