@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.catalog {
    display: grid;
    row-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;

    @include on-Tablet {
        margin-bottom: 60px;
    }
  
    @include on-Desktop {
      margin: 0 auto;
      margin-bottom: 100px;
    }
  
    &__category {
      display: block;
      position: relative;
      height: 197px;
      opacity: 100%;
      transition: opacity 0.3s ease;
  
      @include on-Tablet {
        height: 350px;
      }
  
      @include on-Desktop {
        height: 492px;
      }
  
      &:hover {
        opacity: 80%;
      }
  
      &-wrapper {
        height: 197px;
        width: 100%;
  
        @include on-Tablet {
          height: 350px;
        }
    
        @include on-Desktop {
          height: 492px;
        }
      }
  
      &-title {
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        padding-inline: 5px;
        top: 50%;
        left: 10px;
        font-size: 60px;
        background-color: rgb(230, 226, 205, 0.5);
      }
    }
  
    &__image {
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover;
      object-position: center;
    }
  }
