@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.scss';

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 50px;

    @include on-Tablet {
        margin-bottom: 80px;
    }

    @include on-Desktop {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        max-width: $max-content-width;
        margin-bottom: 100px;
    }

    &__card {
        color: $choco;
        width: 100%;
        grid-column: 1 / -1;
        transition: opacity 0.3s ease;
        
        &:hover {
            opacity: 80%;
          }

        @include on-Tablet {
            grid-column: auto;
        }
    }

    &__button {
        width: 255px;

        @include on-Tablet {
            width: 50%;
        }

        @include on-Desktop {
            width: 100%;
        }
        

        &-wrapper {
            grid-column: 1 / -1;
            display: flex;
            justify-content: center;
            margin-block: 32px 35px;

            @include on-Desktop {
                grid-column: 2 / 3;
                margin-top: 80px;
            }
        }
    }
}
