@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins.scss';

.card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;

    &__photo-container {
        position: relative;
    }
    
    &__photo-link {
        display: block;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__title-price {
        font-family: "lev_type";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        letter-spacing: 1px;

        @include on-Desktop {
            font-size: 22px;
        }
    }
}