@import './utils/variables';
@import './utils/mixins';

@font-face {
  font-family: 'inter';
  src: url('../fonts/static/Inter_18pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lev_type';
  src: url('../fonts/LevType_Hryvnia_v.1.013/Static/WEB/LevTypeHryvnia-Regular.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  appearance: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 17px;
  &::-ms-clear {
    display: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}

body {
  margin: 0;
  background-color: $bg-color;
  box-sizing: border-box;
  font-family: "inter", serif;
}

html {
  scroll-behavior: smooth;

  &:has(.menu) {

    @media(max-width: 1200px) {
      overflow-y: hidden;
    }
  }
}

button {
  outline: none;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0;
}

.header {
  box-sizing: content-box;
  z-index: 1000;
  position: sticky;
  top: 0;
  padding-top: 10px;
  height: $headers-height-mobile;
  background-color: $bg-color;

  @include on-Tablet {
    height: $headers-height-tablet;
  }

  &__container {
    margin-inline: 16px;
    border-top: 1px solid $choco;
    border-bottom: 1px solid $choco;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;

    @include on-Tablet {
      margin-inline: 24px;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    line-height: $headers-height-mobile;
    height: $headers-height-mobile;
  
    @include on-Tablet {
      width: 260px;
      height: $headers-height-tablet;
      line-height: $headers-height-mobile;
    }

    &-text {
      font-family: 'lev_type';
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      color: $choco;
      width: auto;

      @media (min-width: 378px) {
        font-size: 25px;
      }

      @include on-Tablet {
        font-size: 40px;
      }
    }
  }

  &__right {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    height: $headers-height-mobile;
    @include on-Tablet {
      height: $headers-height-tablet;
    }

    @include on-Desktop {
      gap: 20px;
    }
  }

  &__short {
    &-navigation {
      display: none;
      
      @include on-Tablet {
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }

    &-nav-element {
      display: flex;
      gap: 5px;
      align-items: center;

  
      &-icon {
        height: 16px;
        width: 16px;
        transform: rotate(90deg);
        
        &--focused {
            transform: rotate(270deg);
        }
      }
    }
  }

  &__nav {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #fff;
    z-index: 200;

    &--opened {
      @include on-Tablet {
        display: block;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 5px;

    @include on-Tablet {
      gap: 10px;
    }
    @include on-Desktop {
      gap: 20px;
    }
   
  }

  &__icon {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--close {
      width: 44px;
    }

    &-picture {
      width: 30px;
      height: 30px;
    }

    &-circle {
      position: absolute;
      transform: translate(150%,-40%);
      font-family: "inter";
      font-size: 9px;
      font-weight: 600;
      line-height: 14px;
      text-align: center;
      color: black;
      width: 15px;
      height: 15px;
      left: 15px;
      background-color: white;
      border-radius: 50%;
    }
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0;
  }

  &__item {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      height: 1px;
      width: 0;
      content: "";
      bottom: -3px;
      background-color: $choco;
      transition: width 0.5s ease, background-color 0.5s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    font-family: 'lev_type';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: $choco;
    transition: color 0.5s ease;
    text-transform: uppercase;
  }
}

.main > :not(.home) {
  @include pagePaddings;

  @include on-Desktop {
    margin-inline: auto;
    width: $max-content-width;
  }
}

.footer {
  margin-inline: 16px;
  height: $footers-height-mobile;
  background-color: $bg-color;
  border-top: 1px solid $choco;

  @include on-Tablet {
    height: $footers-height-tablet;
    margin-inline: 24px;
  }

  @include on-Desktop {
    height: $footers-height-desktop;
  }

  &__container {
    padding-inline: 10px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 16px;
    
    @include on-Tablet {
      padding-top: 26px;
    }

    @include on-Desktop {
      padding-top: 0;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    @include on-Desktop {
      margin-top: 50px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

    @include on-Tablet {
      flex-direction: row;
    }


    @media(min-width: 768px) {
      gap: 30px;
    }

    @include on-Desktop {
      gap: 100px;
      margin-top: 80px;
    }
  }

  &__title {
    font-family: "lev_type";
    font-weight: 600;
    font-size: $footer-title-size-mobile;
    line-height: 15px;
    letter-spacing: 1px;

    @include on-Tablet {
      font-size: $footer-title-size-tablet;
      line-height: 20px;
    }

    @include on-Desktop {
      font-size: $footer-title-size-desktop;
      line-height: 33px;
    }
  }

  &__follow {
    display: flex;
    gap: 7px;
    margin-top: 40px;

    &-text {
      padding-right: 5px;
      border-right: 1px solid $choco;
      text-transform: uppercase;
      font-size: 12px;

      @include on-Tablet {
        font-size: 16px;
      }

      @include on-Desktop {
        font-size: 20px;
      }
    }

    &-icon {
      width: 10px;
      height: 10px;

      @include on-Desktop {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__block {
    color: $choco;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    @include on-Tablet {
      gap: 10px;
    }

    &--categories {

    }

    &--support {

    }

    &--contact-data {

    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;

    @include on-Tablet {
      gap: 8px;
    }

  }

  &__link {
    color: $choco;
    text-decoration: none;
    font-size: $footer-text-size-mobile;
    font-weight: 400;
    transition: color 0.5s ease;

    &:hover {
      color: $brown;
    }

    @include on-Tablet {
      font-size: $footer-text-size-tablet;
    }

    @include on-Desktop {
      font-size: $footer-text-size-desktop;
    }

    &--gmail {
      font-weight: 500;
      text-transform: none;

      @include on-Desktop {
        text-transform: uppercase;
      }
    }
  }

  &__rights {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    @include on-Tablet {
      margin-top: 20px;
    }

    @include on-Desktop {
      margin-top: 50px;
    }

    &-text {
      font-size: 8px;
      line-height: 10.63px;
      font-weight: 500;
      text-align: center;
      color: $choco;

      @include on-Desktop {
        font-size: 15px;
        line-height: 19.94px;
      }
    }
  }

  &__phone-number {
    font-family: 'lev_type';
    font-weight: 600;
    font-size: $footer-title-size-mobile;

    @include on-Tablet {
      font-size: $footer-title-size-tablet;
    }

    @include on-Desktop {
      font-size: $footer-title-size-desktop;
      line-height: 33px; 
    }
  }
}

.sub-title {
  font-size: 35px;
  font-family: 'lev_type';

  @include on-Tablet {
    font-size: 64px;
  }

  @include on-Desktop {
    font-size: 85px;
  }

  color: $choco;
  font-weight: lighter;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  position: relative;
  text-decoration: none;
  color: $choco;
  width: auto;
  border-bottom: 1px solid $choco;
  padding-bottom: 20px;
  font-family: 'lev_type';
  font-size: 18px;
  font-weight: 500;
  text-align: left;

  @include on-Tablet {
    font-size: 20px;
  }

  @include on-Desktop {
    font-size: 40px;
  }
}
