@import './utils/variables';
@import './utils/mixins';

@font-face {
  font-family: 'inter';
  src: url('../fonts/static/Inter_18pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lev_type';
  src: url('../fonts/LevType_Hryvnia_v.1.013/Static/WEB/LevTypeHryvnia-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input{
  appearance: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 17px;
  &::-ms-clear {
    display: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}
body {
  margin: 0;
  background-color: $bg-color;
  box-sizing: border-box;
  font-family: "inter", serif;
}

html {
  scroll-behavior: smooth;

}

button {
  outline: none;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0;
}

.app {

}

.header {
  box-sizing: content-box;
  z-index: 1000;
  position: sticky;
  top: 0;
  margin-top: 10px;
  margin-inline: 24px;
  border-top: 1px solid $choco;
  border-bottom: 1px solid $choco;
  height: $headers-height;
  background-color: $bg-color;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 10px;
  padding-left: 20px;
  transition: $bg-color 0.3s ease, margin-inline 0.3s ease;

  &--scrolled {
    background-color: $bg-color;
    margin-inline: 0;
  }

  &__logo {
    height: $headers-height;
    width: 100px;
    line-height: $headers-height;
    position: relative;

    &-link {
      display: inline-block;
    }


  }

  &__right {
    display: flex;
    gap: 10px;
    align-items: center;
    height: $headers-height;
    position: relative;

    @include on-Desktop {
      gap: 20px;
    }
  }

  &__nav {
    display: none;

    @include on-Tablet {
      display: block;
    }
  }

  &__search {
    display: flex;
    gap: 10px;

    &-icon {
      transform: translateY(5px);
    }
  
    &-input {
      background-color: transparent;
      color: $text-color;
      font-size: 15px;
      padding-block: 5px;
      padding-left: 4px;
      width: 70px;

      ::placeholder {
        color: $text-color;
        font-size: 24px;
      }

      &::-webkit-input-placeholder {
        color: $text-color;
      }
    
      &::-moz-placeholder {
        color: $text-color;
      }
    
      &:-ms-input-placeholder {
        color: $text-color;
      }
    
      &:-moz-placeholder {
        color: $text-color;
      }


      @include on-Tablet {
        width: 150px;
      }

      @include on-Desktop {
        width: 250px;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 8px;

    @include on-Tablet {
      gap: 10px;
    }
    @include on-Desktop {
      gap: 20px;
    }
   
  }

  &__icon {
    padding: 10px;

    &--burger {
      display: block;
    }
    &--close {
      width: 44px;
    }
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;


    @include on-Desktop {
      gap: 20px;
    }
  }

  &__item {
    font-family: 'lev_type';
    position: relative;
    &::after {
      position: absolute;
      display: block;
      height: 1px;
      width: 0;
      content: "";
      bottom: -3px;
      background-color: $brown;
      transition: width 0.5s ease, color 0.5s ease, background-color 0.5s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $choco;
    font-size: 17px;
    transition: color 0.5s ease;
    text-transform: uppercase;

    &:hover {
      color: $brown;
    }
  }
}

.main > :not(.home) {
  margin-top: $headers-height;
  @include pagePaddings;

  @include on-Desktop {
    margin-inline: auto;
    width: 1136px;
  }

}

.footer {
  height: $footers-height;
  padding-inline: 31px;
  background-color: $bg-color;
  border-top: 1px solid $choco;


  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    @include on-Tablet {
      flex-direction: row;
    }
  }

  &__left {
    margin-top: 65px;
  }

  &__right {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include on-Tablet {
      flex-direction: row;
      gap: 40px;
    }

    @include on-Desktop {
      gap: 100px;
    }

    margin-top: 80px;
  }

  &__logo {
    position: relative;
    border-bottom: 1px solid $choco;
    padding-bottom: 20px;
  }

  &__title {
    font-family: 'lev_type';
    font-size: 22px;

    &--logo {
      font-size: 20px;
    }
  }

  &__follow {
    display: flex;
    gap: 7px;
    margin-top: 40px;

    &-text {
      padding-right: 5px;
      border-right: 1px solid $choco;
      text-transform: uppercase;
    }
  }

  &__block {
    color: $choco;
    align-self: baseline;

    &--categories {

    }
    &--support {

    }

    &--contact-data {

    }
  }

  &__list {
    flex-direction: column;
    list-style: none;
  }

  &__link {
    color: $choco;
    text-decoration: none;
  }

  &__item {
    
  }

  &__rights {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

    &-text {
      color: $choco;
    }
  }
}

.sub-title {
  font-size: 48px;
  font-family: 'lev_type';

  @include on-Tablet {
    font-size: 64px;
  }

  @include on-Desktop {
    font-size: 85px;
  }

  color: $choco;
  font-weight: lighter;
 
}

.topic {
  position: relative;
  height: 400px;
  display: block;
  grid-column: 1 / -1;
  transition: opacity 0.3s ease;

  &__background {
      position: relative;
      z-index: -1;
      height: 400px;
      background-position: center;
      background-size: cover;
      opacity: 100%;

      &:hover {
          opacity: 80%;
      }

      &--women {
          background-image: url(../styles/images/vyshyvanka_zhinocha.jpg);
          background-position: bottom;
      }

      &--men {
          background-image: url(../styles/images/men_vyshyvanka.png);
      }

      &--girls {
          background-image: url(../styles/images/girls_vyshyvanka.png);
      }

      &--boys {
          background-image: url(../styles/images/boys_vyshyvanka.png);
      }

      &--books {
          background-image: url(../styles/images/books_category2.png);
      }
  }

  &__title {
      color: $brown;
      transition: color 0.3s ease;
      position: relative;

      &::after {
          display: block;
          position: absolute;
          content: '';
          width: 100%;
          height: 1px;
          background-color: $brown;
      }

      &:hover {
          color:#000;
      }

      &-wrapper {
          position: absolute;
          bottom: -30px;
      }
  }

  &__container {
      @include on-Desktop {
          grid-template-rows: repeat(7, 200px);
      }

      @include pageGrid;
      row-gap: 50px;
  }

  &--women {

      @include on-Tablet {
          grid-row: 1 / 3;
          grid-column: 1 / 5;
      }


      @include on-Desktop {
          grid-column: 1 / 8;
      }
  }

  &--men {

      @include on-Tablet {
          grid-row: 2 / 4;
          grid-column: 5 / 9;
      }

      @include on-Desktop {
          grid-column: 9 / 16;
      }
  }

  &--girls {

      @include on-Tablet {
          grid-row: 3 / 5;
          grid-column: 9 / 13;
      }

      @include on-Desktop {
          grid-column: 17 / 24;
      }
  }

  &--boys {

      @include on-Tablet {
          grid-row: 5 / 7;
          grid-column: 7 / 11;
      }

      @include on-Desktop {
          grid-column: 13 / 20;
      }
  }

  &--books {

      @include on-Tablet {
          grid-row: 6 / 8;
          grid-column: 3 / 7;
      }

      @include on-Desktop {
          grid-column: 5 / 12;
      }
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

