@import './utils/variables';
@import './utils/mixins';

@font-face {
  font-family: 'inter';
  src: url('../fonts/static/Inter_18pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lev_type';
  src: url('../fonts/LevType_Hryvnia_v.1.013/Static/TTF/LevTypeHryvnia-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input{
  appearance: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 17px;
  &::-ms-clear {
    display: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}
body {
  margin: 0;
  background-color: $bg-color;
  box-sizing: border-box;
  font-family: "inter", serif;
}

html {
  scroll-behavior: smooth;

}

button {
  outline: none;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0;
}

.app {

}

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: $headers-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 20px;
  transition: background-color 0.3s ease;

  &--scrolled {
    background-color: #e5e2cd;
  }

  &__logo {
    &-link {
      display: block;
    }
  }

  &__right {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__nav {
    display: none;

    @include on-Tablet {
      display: block;
    }
  }

  &__search {
    display: flex;
    gap: 10px;

    &-icon {
      transform: translateY(5px);
    }
  
    &-input {
      background-color: transparent;
      color: $text-color;
      font-size: 15px;
      padding-block: 5px;
      padding-left: 4px;
      width: 70px;

      ::placeholder {
        color: $text-color;
        font-size: 24px;
      }

      &::-webkit-input-placeholder {
        color: $text-color;
      }
    
      &::-moz-placeholder {
        color: $text-color;
      }
    
      &:-ms-input-placeholder {
        color: $text-color;
      }
    
      &:-moz-placeholder {
        color: $text-color;
      }


      @include on-Tablet {
        width: 150px;
      }

      @include on-Small-Desktop {
        width: 250px;
      }
    }
  }

  &__icon {
    padding: 10px;

    &--burger {
      display: block;

      @include on-Tablet {
        display: none;
      }
    }
  }
}

.nav {

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-family: 'lev_type';
    position: relative;
    &::after {
      position: absolute;
      display: block;
      height: 1px;
      width: 0;
      content: "";
      bottom: -3px;
      background-color: #41413f;
      transition: width 0.5s ease, color 0.5s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    font-size: 17px;
    transition: color 0.5s ease;
    text-transform: uppercase;

    &:hover {
      color: #41413f;
    }
  }
}

.menu {
  height: 500px;
  width: 320px;
  padding-top: 150px;
  background-color: #fff;
  
  &__list {
    flex-direction: column;
  }

  &__item {
    &::after {
      color: #000;

      &:hover {
        color: #282c34;
      }
    }
  }

  &__link {
    color: #000;

    &:hover {
      color: #282c34;
    }
  }
}

.main > :not(.home) {
  margin-top: $headers-height;
  @include pagePaddings;

  @include on-Desktop {
    margin-inline: auto;
    width: 1136px;
  }

}

.footer {
  height: $footers-height;
  padding-top: 20px;
  background-color: $choco;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

  &__list {
    flex-direction: column;
  }

  &__link {
    color: $bg-color;
  }

  &__rights {
    display: flex;
    gap: 6px;
    align-items: center;

    &-text {
      color: $bg-color;
    }

    &-icon {
      height: 15px;
      width: 15px;
    }
  }
}

.sub-title {
  font-size: 48px;
  font-family: 'lev_type';

  @include on-Small-Tablet {
    font-size: 64px;
  }

  @include on-Desktop {
    font-size: 98px;
  }

  color: $choco;
  font-weight: lighter;
 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
