@import './utils/variables';
@import './utils/mixins';

.button {
    display: block;
    background-color: $choco;
    color: $white;
    cursor: pointer;
    height: 56px;
    border: 0;
    font-family: 'inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 19.36px;

    transition: color 0.5s ease;

    &:hover {
      color: $bg-color;
    }

    @include on-Desktop {
        font-size: 16px;
        font-weight: 400;
        line-height: 26.63px;
    }
}
