@import './utils/mixins';
@import './utils/variables';

.home {
    display: grid;
    row-gap: 24px;
    margin-bottom: 16px;

    @include on-Tablet {
        margin-bottom: 40px;
        row-gap: 50px;
    }

    @include on-Desktop {
        margin-bottom: 64px;
        row-gap: 70px;
    }

    &__background-container {
        height: $main-picture-height;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-image: url(../../public/img/women_images/main.png);
        opacity: 90%;
        margin-top: $main-picture-padding-top;
    }

    &__title {
        padding-block: 100px;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 500;
        font-family: 'lev_type';
        color: white;
        padding-left: 10px;
    
        @include on-Tablet {
          font-size: 80px;
          padding-left: 30px;
        }
    
        @include on-Desktop {
          font-size: 150px;
          padding-left: 50px;
        }
    }

    &__text {
        font-family: 'inter';
        font-size: 8px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
        color: $main-text-color;

        @include on-Tablet {
            font-size: 14px;
            line-height: 20px;
        }
        @include on-Desktop {
            font-size: 18px;
            line-height: 27px;
        }
    }

    &__open {
        display: flex;
        margin-top: 16px;

        &-link {
            text-decoration: none;
            display: block;
            position: relative;


            &::after {
                display: block;
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: $choco;
                transition: background-color 0.5s ease;
            }

            &:hover {
                &::after {
                    background-color: $gray-not-active;
                }
            }
        }

        &-text {
            font-family: 'lev_type';
            font-size: 12px;
            font-weight: lighter;
            line-height: 14.4px;
            text-align: left;
            // text-transform: uppercase;
            text-decoration: none;
            color: $choco;

            @include on-Tablet {
                font-size: 18px;
                line-height: 20px;
            }

            @include on-Desktop {
                font-size: 24px;
                line-height: 28.8px;
            }
        }
    }

    &__photo {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
    }

    
    &__section {
        position: relative;
        padding-top: 24px;         
        border-top: 1px solid black;
        margin-inline: 16px;

        @include on-Tablet {
            padding-top: 64px;  
            margin-inline: 24px;
        }

        @include on-Desktop {
            padding-top: 111px;  
            width: $max-content-width;
            margin-inline: auto;
        }
    }

    &__blog {
        @include pageGrid;
        grid-template-rows: 46px 114px 92px 58px 60px;

        @include on-Tablet {
            grid-template-rows: 92px 200px 250px 90px 80px;
        }

        @include on-Desktop {
            grid-template-rows: 142px 284px 392px 137px 108px;
        }
    }

    &__bestseller {
        @include pageGrid;
        margin-bottom: 24px;
        grid-template-rows: 42px 39px 70px 50px 34px 16px;

        @include on-Tablet {
            grid-template-rows: 80px 90px 230px 120px 90px;
        }
        @include on-Desktop {
            grid-template-rows: 126px 162px 288px 206px 138px;
        }
      }

    &__find {
        @include pageGrid;
        margin-bottom: 24px;
        grid-template-rows: 79px 28px 86px 48.88px 74.12px;

        @include on-Tablet {
            grid-template-rows: 95px 186px 26px 16px 16px 312.5px;
        }
        @include on-Desktop {
            grid-template-rows: 95px 186px 26px 16px 16px 396px 113px;
        }
      }


    &__contact {
        &-sub-title {
            text-align: center;
        }

        @include on-Desktop {

        }
    }
}

.blog {
    &__sub-title {
        grid-row: 1 / 2;
        grid-column: 1 / -1;

        @include on-Tablet {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
        }

        @include on-Desktop {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
        }
    }

    &__photo {
        &--1 {
            background-image: url(../../public/img/women_images/blog-1.png);
            height: 206px;
            grid-row: 2 / 4;
            grid-column: 1 / 4;

            @include on-Tablet {
                height: 371px;
                grid-row: 2 / 4;
                grid-column: 1 / 6;
            }

            @include on-Desktop {
                height: 676px;
                grid-row: 2 / 4;
                grid-column: 1 / 6;
            }
        }


        &--2 {
            background-image: url(../../public/img/women_images/blog-2.png);
            height: 150px;
            grid-row: 3 / 5;
            grid-column: 5 / -1;

            @include on-Tablet {
                height: 340px;
                grid-row: 3 / 5;
                grid-column: 7 / -1;
            }

            @include on-Desktop {
                height: 529px;
                grid-row: 3 / 5;
                grid-column: 8 / -1;
            }
        }
    }

    &__description {
        &--1 {
            grid-row: 2 / 3;
            grid-column: 4 / -1;

            @include on-Tablet {
                grid-row: 2 / 3;
                grid-column: 6 / 11;
            }

            @include on-Desktop {
                grid-row: 2 / 3;
                grid-column: 6 / 11;
            }

        }

        &--2 {
             grid-row: 4 / 6;
             grid-column: 1 / 5;

             @include on-Tablet {
                grid-row: 4 / 6;
                grid-column: 1 / 5;
            }

            @include on-Desktop {
                grid-row: 4 / 6;
                grid-column: 1 / 5;
            }
        }
    }
}

.find {
    &__sub-title {
        grid-row: 1 / 2;
        grid-column: 5 / 8;

        @include on-Tablet {
            grid-row: 1 / 2;
            grid-column: 6 / -1;
        }

        @include on-Desktop {
            grid-row: 1 / 2;
            grid-column: 6 / -1;
        }
    }

    &__photo {
        &--1 {
            background-image: url(../styles/images/find_yours1.png);
            height: 193px;
            grid-row: 1 / 4;
            grid-column: 1 / 5;

            @include on-Tablet {
                height: 471px;
                grid-row: 1 / 7;
                grid-column: 1 / 6;
            }

            @include on-Desktop {
                height: 749px;
                grid-row: 1 / 7;
                grid-column: 1 / 6;
            }
        }


        &--2 {
            background-image: url(../styles/images/find_yours2.png);
            height: 134.88px;
            grid-row: 3 / 5;
            grid-column: 6 / -1;

            @include on-Tablet {
                height: 328.5px;
                grid-row: 5 / 8;
                grid-column: 8 / -1;
            }

            @include on-Desktop {
                height: 523px;
                grid-row: 5 / 8;
                grid-column: 9 / -1;
            }
        }
    }

    &__description {
        padding-top: 10px;
        grid-row: 4 / 6;
        grid-column: 1 / 5;

        @include on-Tablet {
            grid-row: 2 / 3;
            grid-column: 6 / -1;

            @media(max-width: 820px) {
                padding-top: 50px;
                font-size: 12px;
            }
        }

        @include on-Desktop {
            grid-row: 2 / 3;
            grid-column: 6 / 11;
        }
    }

}

.bestseller {
    &__sub-title {
        grid-row: 1 / 2;
        grid-column: 4 / -1;

        @include on-Tablet {
            grid-row: 1 / 2;
            grid-column: 5 / -1;
        }
        
        @include on-Desktop {
            grid-row: 1 / 2;
            grid-column: 5 / -1;
        }

    }

    &__photo {
        &--1 {
            background-image: url(../../public/img/women_images/bestseller-1.png);
            height: 140px;
            grid-row: 1 / 4;
            grid-column: 1 / 4;

            @include on-Tablet {
                height: 400px;
                grid-row: 1 / 4;
                grid-column: 1 / 5;
            }
            
            @include on-Desktop {
                height: 576px;
                grid-row: 1 / 4;
                grid-column: 1 / 5;
            }
        }

        &--2 {
            background-image: url(../../public/img/women_images/bestseller-2.png);
            height: 120px;
            grid-row: 3 / 5;
            grid-column: 4 / 6;

            @include on-Tablet {
                height: 300px;
                grid-row: 3 / 5;
                grid-column: 5 / 8;
            }
            
            @include on-Desktop {
                height: 494px;
                grid-row: 3 / 5;
                grid-column: 5 / 8;
            }
        }

        &--3 {
            background-image: url(../../public/img/women_images/bestseller-3.png);
            height: 193px;
            grid-row: 2 / 6;
            grid-column: 6 / -1;

            @include on-Tablet {
                height: 480px;
                grid-row: 2 / 6;
                grid-column: 8 / -1;
            }
            
            @include on-Desktop {
                height: 794px;
                grid-row: 2 / 6;
                grid-column: 8 / -1;
            }
        }
    }

    &__description {
        grid-row: 4 / 7;
        grid-column: 1 / 4;
    }

    &__text {
        padding-top: 10px;
    }
}

.contact {
    &__phone-number {
        text-decoration: none;
        color: $choco;
    }

    &__description {
        text-align: center;
    }

    &__phone-number {
        display: block;
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
    }
}

