@import '../../styles/utils/variables.scss';
@import '../../styles//utils/mixins.scss';

.admin {
  @include pageMinHeight;
  @include pagePaddings;
  // border: $choco solid 1px;
  padding-block: 10px;
 
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  &__bord {
    box-sizing: border-box;
    display: flex;
    min-height: 240px;
    padding: 20px;
    color: $choco;
  }

  &__bottom {
    border: red solid 1px;
    padding: 20px;
    margin-top: 30px;
  }

  &__left {
    flex: 1;
    transition: width 0.8s ease-in-out;
    width: 50%;

    &--open {
      width: 100%; 
    }
  }

  &__thead {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 2;
  
    &-tr {
      &-th {
        padding: 12px;
        text-align: left;
        font-weight: bold;
        color: #333;
        border-bottom: 2px solid #ddd;
      }
    }
  }

  &__tbody {
    &-tr {
      transition: background-color 0.2s ease-in-out;

      &:nth-child(even) {
        background-color: #fafafa; // Light gray for even rows
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05); // Slight highlight on hover
      }

      &-td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: #444;

        &:first-child {
          width: 5%;
          text-align: center;
        }

        &:nth-child(2) {
          width: 65%;
        }

        &:last-child {
          text-align: center;
          width: 30%;
        }
      }
    }
  }

  &__button {
    color: white;
    padding: 8px 12px;
    font-family: "inter";
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: $button-admin-hover;
    }

    &--open {
        background-color: $button-admin-open;
    }

    &--close {
        background-color: $button-admin-close;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}

.tile {
    padding: 10px;
  }

.sidebar {
  overflow: hidden;
  opacity: 0;
  transition: width 0.8s ease-in-out, opacity 0.5s ease-in-out;
  width: 0; 

  &--open {
   opacity: 1;
   width: 50%;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.categories {
  &__title {
    font-family: "inter";
    text-transform: capitalize;
    padding: 12px 12px;
    color: $button-admin-close;
    margin-block: 20px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  &__link {
    border: #060608 solid 1px;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: $button-admin-close;
    transition: weight 0.9s;

    &:hover {
      font-weight: 800;
    }

    &--active {
      font-weight: 800;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__label {
    font-size: 14px;
    width: 350px;
    color: $choco;
  }

  &__input {
    border-radius: 4px;
    margin-left: 10px;
    width: 300px;
    padding: 7px 5px 7px;
    background-color: transparent;
    border: 0.5px solid $gray-not-active;

    &:hover {
      border-color: $brown;
    }
    &:focus {
      outline: none;
      border-color: $choco;
      color: $choco;
    }

    &--textarea {
      width: 400px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__add {
    box-sizing: content-box;
    height: 15px;
    padding: 5px;
    margin-top: 10px;
    border: $brown solid 1px;
    color: $white;
    background-color: #0056b3;
    line-height: 15px;
  }
}

.admin-product {
  &__list {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

  &__button {

   
  }
}

.checkbox {
  &__label {
    &--checked {
      color: red;
    }
  }
}


