@import '../../styles/utils/variables.scss';
@import '../../styles//utils/mixins.scss';

.admin {
  @include pageMinHeight;
  @include pagePaddings;
  // border: $choco solid 1px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__board {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    border: 1px solid gray;
    min-height: 240px;
    padding: 20px;
    color: $choco;

    &-wrapper {
      display: flex;
    }
  }


  &__left {
    flex: 1;
    transition: width 0.8s ease-in-out;
    width: 50%;

    &--open {
      width: 100%; 
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

  &__thead {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 2;
  
    &-tr {
      &-th {
        padding: 12px;
        text-align: left;
        font-weight: bold;
        color: #333;
        border-bottom: 2px solid #ddd;
      }
    }
  }

  &__tbody {
    &-tr {
      transition: background-color 0.2s ease-in-out;

      &:nth-child(even) {
        background-color: #fafafa; // Light gray for even rows
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05); // Slight highlight on hover
      }

      &-td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: #444;

        &:first-child {
          width: 5%;
          text-align: center;
        }

        &:nth-child(2) {
          width: 65%;
        }

        &:last-child {
          text-align: center;
          width: 30%;
        }
      }
    }
  }

  &__button {
    color: white;
    padding: 8px 12px;
    font-family: "inter";
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: $button-admin-hover;
    }

    &--open {
        background-color: $button-admin-open;
    }

    &--close {
        background-color: $button-admin-close;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.tile {
    padding: 10px;
}

.sidebar {
  overflow: hidden;
  opacity: 0;
  transition: width 0.8s ease-in-out, opacity 0.5s ease-in-out;
  width: 0; 

  &--open {
   opacity: 1;
   width: 50%;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}






