.curve {
    position: absolute;
  
    &__below {
      &--top {
        &-left {
          bottom: -1px;
          left: 0;
        }
    
        &-right {
          bottom: -1px;
          right: 0;

          &--mobile-header {
            @media(max-width: 768px) {
              display: none;
            }
          }
        }
      }
    
      &--bottom {
        &-left {
          bottom: -4.96px;
          left: 0;
          transform: rotate(180deg);
        }
    
        &-right {
          bottom: -4.96px;
          right: 0;
          transform: rotate(180deg);

          &--mobile-header {
            @media(max-width: 768px) {
              display: none;
            }
          }
        }
      }
    }
  }