@mixin on-Tablet {
    @media(min-width: 640px) {
    @content;
    }
}

@mixin on-Desktop {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin pageGrid {
    --columns: 8;
    display: grid;
    column-gap: 16px;;
    grid-template-columns: repeat(var(--columns), 1fr);


    @include on-Tablet {
        --columns: 10;
    }


    @include on-Desktop {
        --columns: 12;
    }
}

@mixin pagePaddings {
    padding-inline : 16px;

    @include on-Tablet {
      padding-inline: 24px;
    }

    @include on-Desktop {
        padding-inline: 0;
    }
}
