@mixin on-Tablet {
    @media(min-width: 768px) {
        @content;
    }
}

@mixin on-Desktop {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin on-Small-Desktop {
    @media(min-width: 1024px) {
        @content;
    }
}

@mixin pageGrid {
    --columns: 4;
    display: grid;
    column-gap: 16px;;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include on-Tablet {
        --columns: 12;

    }

    @include on-Desktop {
        --columns: 24;
      }
}
