@mixin on-Tablet {
    @media(min-width: 640px) {
    @content;
    }
}

@mixin on-Desktop {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin pageGrid {
    --columns: 8;
    display: grid;
    column-gap: 16px;;
    grid-template-columns: repeat(var(--columns), 1fr);


    @include on-Tablet {
        --columns: 10;
    }


    @include on-Desktop {
        --columns: 12;
    }
}

@mixin pagePaddings {
    padding-inline : 16px;

    @include on-Tablet {
      padding-inline: 24px;
    }

    @include on-Desktop {
        padding-inline: 0;
    }
}

@mixin pageMinHeight {
    min-height: calc(100vh - #{$headers-height-mobile} - #{$footers-height-mobile} - #{$header-margin});

    @include on-Tablet {
        min-height: calc(100vh - #{$headers-height-tablet} - #{$footers-height-tablet} - #{$header-margin});
    }

    @include on-Desktop {
        min-height: calc(100vh - #{$headers-height-tablet} - #{$footers-height-desktop} - #{$header-margin});
    }
}

@mixin inputStyling {
    background-color: transparent;
    color: $choco;
    font-size: 15px;
    padding-block: 5px;
    padding-left: 4px;
    width: 70px;
    font-weight: 500;
    font-family: "lev_type";

    ::placeholder {
        color: $choco;
        font-size: 24px;
    }

    &::-webkit-input-placeholder {
        color: $choco;
    }

    &::-moz-placeholder {
        color: $choco;
    }

    &:-ms-input-placeholder {
        color: $choco;
    }

    &:-moz-placeholder {
        color: $choco;;
    }


    @include on-Tablet {
        width: 150px;
    }

    @include on-Desktop {
        width: 250px;
    }
}
