$primary: #282c34;
$placeholder-text: #4f4f4f;
$text-color: #000;
$brown: #964b00;
$choco: #3f1f01;
$bg-color:#E6E2CD;
$gray-not-active: #9e9e9e;
$main-picture-height: 788px;
$main-picture-padding-top: 42px;
$half-menu-height: ($main-picture-height + $main-picture-padding-top) / 2;
$max-width: 1440px;
$max-content-width: 1136px;

$headers-height: 80px;
$footers-height: 300px;

$header-margin: 10px;

$footer-text-size-mobile: 10px; 
$footer-text-size-tablet: 14px;
$footer-text-size-desktop: 18px; 

$footer-title-size-mobile: 10px; 
$footer-title-size-tablet: 14px;
$footer-title-size-desktop: 22px; 
