$primary: #282c34;
$placeholder-text: #4f4f4f;
$text-color: #000;
$brown: #964b00;
$choco: #3f1f01;
$bg-color:#E6E2CD;
$gray-not-active: #9e9e9e;
$white: #fff;
$main-text-color: #3b3b3c;
$warning-color: rgb(206, 97, 97);
$available-color: rgb(64, 116, 64);
$forest-color: #334232;
$main-picture-padding-top: 42px;

$main-picture-height-mobile: 230px;
$main-picture-height-tablet: 430px;
$main-picture-height-desktop: 788px;

$half-menu-height-mobile: ($main-picture-height-mobile + $main-picture-padding-top) / 2;
$half-menu-height-tablet: ($main-picture-height-tablet + $main-picture-padding-top) / 2;
$half-menu-height-desktop: ($main-picture-height-desktop + $main-picture-padding-top) / 2;


$max-width: 1440px;
$max-content-width: 1136px;

$headers-height-mobile: 60px;
$headers-height-tablet: 80px;
$footers-height-mobile: 320px;
$footers-height-tablet: 230px;
$footers-height-desktop: 345px;

$header-margin: 10px;

$footer-text-size-mobile: 12px; 
$footer-text-size-tablet: 16px;
$footer-text-size-desktop: 18px; 

$footer-title-size-mobile: 12px; 
$footer-title-size-tablet: 16px;
$footer-title-size-desktop: 22px; 
