@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.scss';

.list {
    &__book {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 50px;
        
        @include on-Tablet {
            margin-bottom: 80px;
        }
    
        @include on-Desktop {
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            max-width: $max-content-width;
            margin-bottom: 80px;
        }

        &-card {
            color: $choco;
            width: 100%;
            grid-column: 1 / -1;
    
            @include on-Tablet {
                grid-column: auto;
            }
        }

        &-button {
            width: 255px;
            height: 40px;
            background-color: $choco;
            color: #fff;
            font-size: 18px;
    
            @include on-Desktop {
                width: 100%;
                height: 56px;
                font-size: 22px;
            }
            
    
            &-wrapper {
                grid-column: 1 / -1;
                display: flex;
                justify-content: center;
                margin-block: 32px 35px;
    
                @include on-Desktop {
                    grid-column: 2 / 3;
                    margin-top: 80px;
                }
            }
        }
    }
}
