@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.scss';

.vyshyvanka {
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include on-Desktop {
            grid-template-columns: repeat(4, 1fr);
        }
        gap: 16px;
    }

    &__card {
        color: $choco;

        @include on-Tablet {
            grid-column: auto;
        }

        width: 100%;
        grid-column: 1 / -1;
    }
}
