@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins.scss';

.card {
    &__book {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: flex-start;
    
        &-photo-container {
            position: relative;
        }
        
        &-photo-link {
            display: block;
        }
    
        &-image {
            width: 100%;
            height: auto;
        }
    }
}