@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.details {
    margin-top: 30px;

    @include on-Desktop {
        margin-top: 60px;
        min-height: 0;
    }

    &__not-found {
        @include pageMinHeight;
        text-align: center;
        padding-block: 100px;
    }

    &__container {        
        margin-bottom: 100px;

        @include on-Tablet {
            padding-inline: 40px;
        }
    }

    &__img-inf-wrapper {
        display: flex;
        height: 204px;
        

        @include on-Tablet {
            height: 400px;
        }

        @include on-Desktop {
            height: 709px;
        }
    }

    &__info {
        flex: 0 0 40%;
        padding-left: 9px;

        @include on-Tablet {
            padding-left: 20px;
        }

        @include on-Desktop {
            padding-left: 70px;
        }
    }

    &__images-wrapper {
        flex: 0 0 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 8px;

        @include on-Tablet {
            gap: 16px;
        }

        @include on-Desktop {
            gap: 24px;
        }
    }

    &__main-image {
        height: 134px;
        cursor: pointer;
        
        &:hover {
            opacity: 80%;
          }

        @include on-Tablet {
            height: 262px;
        }

        @include on-Desktop {
            height: 466px;
        }

        &-container {
            position: relative;
            grid-column: 2 / 4;
            grid-row: 1 / 3;
        }
    }


    &__image-button {
        height: 63px;
        width: 100%;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 80%;
        }

        @include on-Tablet {
            height: 123px;
        }

        @include on-Desktop {
            height: 220px;
        }
    }

    &__picture {
        object-fit: cover;
        object-position: 50% 40%;
        width: 100%;
        height: 100%;
    }


    &__icon-bg {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #f0f8ff;
        opacity: 0.7;
        z-index: 9;
        top: 5px;
        right: 5px;

        &--active {
          background-color: #b3b7b8;
        }

        @include on-Tablet {
            height: 25px;
            width: 25px;
            top: 10px;
            right: 10px;
        }
        
        @include on-Desktop {
            height: 50px;
            width: 50px;
        }
    }

    &__icon {
        height: 15px;
        width: 15px;

        @include on-Desktop {
            height: 25px;
            width: 25px;
        }
    }
}

.size {
    &__elements {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        gap: 15px;
        margin-top: 14px;

        @include on-Desktop {
            margin-top: 24px;
        }
    }

    &__value {
        font-family: "inter", serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: $gray-not-active;
        transition: color 0.3s ease ;

        &--active {
            color: $choco;
        }
    }

    &__box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: 18px;
        width: 18px;
        border: 1px solid $gray-not-active;
        transition: border-color 0.3s ease ;
        
        &:hover {
            border-color: $brown;
            .size__value {
                color: $brown;
            }
        }

        @include on-Desktop {
            height: 23px;
            width: 45px;
        }

        &--active {
            border-color: $choco;

            &:hover {
                border-color: $choco;
            }
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include on-Tablet {
        justify-content: flex-start;
        gap: 15px;
    }

    &__title {
        font-size: 16px;
        font-family: 'lev-type';
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: $choco;
        text-transform: uppercase;

        @include on-Desktop {
            font-size: 40px;
            line-height: 48px;
        }
    }

    &__price {
        font-family: "inter", serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        
        @include on-Desktop {
            font-size: 24px;
        }
    }

    &__name {
        font-family: "inter", serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.875px;
        text-align: left;

        @include on-Desktop {
            font-size: 16px;
        }

        &--warn {
            color: $warning-color;
            padding-bottom: 3px;
        }

        &--available {
            color: $available-color;
            padding-top: 5px;
        }

        &--preordered {
            padding-top: 5px;
            color: rgb(125, 108, 12);
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--mobile {
        display: block;
        margin-top: 50px;

        @include on-Desktop {
            display: none;
        }
    }

    &--desktop {
        display: none;

        @include on-Desktop {
            display: block;
        }
    }

    &__title {
        margin-bottom: 24px;
        color: $gray-not-active;

        &--active {
            color: $choco; 
        }
    }

    &__buttons-titles {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        color: $choco; 
    }

    &__button {
        width: 100%;
        margin-top: 24px;

        @include on-Tablet {
            width: 448px;
        }

        @include on-Desktop {
            width: 100%;
        }

        &-wrapper {
            display: flex;
            justify-content: center;
        }

        &--prod-added {
            background-color: $bg-color;
            color: $choco;
            border: 1px solid $choco;

            transition: color 0.3s ease;

            &:hover {
              color: $gray-not-active;
              border-color:  $gray-not-active;
            }
        }
    }
}

.back {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin-bottom: 8px;

    @include on-Desktop {
        margin-bottom: 24px;
    }

    &__arrow {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
}
