@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    &__content {
      position: relative;
      z-index: 1001;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &__img {
      max-width: 90%;
      max-height: 90%;
    }

    &__arrow {
      // padding: 20px;
      width: 40px;
      height: 40px;

      &--left {
        transform: rotate(180deg);
      }
    }
  
    &__close,
    &__prev,
    &__next {
      position: absolute;
      background: rgb(255, 255, 255, 0.8);
      color: red;
      font-size: 1rem;
      cursor: pointer;
      width: 60px;
      height: 60px;
      z-index: 1002;
      
    }
  
    &__close {
      top: 20px;
      right: 20px;
    }
  
    &__prev {
      left: 40px;
      display: none;

      @include on-Tablet {
        display: block;
      }
    }
  
    &__next {
      right: 40px;
      // transform: translateX(-50%);
      display: none;

      @include on-Tablet {
        display: block;
      }
    }
  }

