$primary: #282c34;
$text-color: white;


input[type="search" i] {
  appearance: none;
  box-sizing: border-box;
  outline: none;
  color: $primary;
  &::-ms-clear {
    display: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-color;

  &__nav {

  }

  &__logo {
    &-link {
      display: block;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;

  }

  &__search {
    display: flex;
    gap: 10px;

    &-icon {
      transform: translateY(5px);
    }
  
    &-input {
      background-color: $primary;
      border: 1px solid $text-color;
      padding-block: 5px;
      padding-left: 4px;
    }
  }

  &__icon {
    padding: 10px;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  &__item {
    
  }

  &__link {
    text-decoration: none;
    color: white;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
