.auth {
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(40, 40, 40, 0.2);

    &--hidden {
        display: none;
      }
    
      &--visible {
        display: flex;
      }

    &__window {

    }
}

